openapi: 3.1.0
info:
  title: Shippo external API.
  version: '2018-02-08'
  x-logo:
    url: 'https://docs.goshippo.com/images/shippo-logo.svg'
  contact:
    name: Shippo Developer Platform
    url: 'https://goshippo.com/contact/'
  description: Use this API to integrate with the Shippo service
security:
  - APIKeyHeader: []
servers:
  - url: 'https://api.goshippo.com'
tags:
  - name: Overview
    description: |-
      <p style="text-align: center; background-color: #F2F3F4; padding: 16px 24px; border-radius: 4px;">
        First-time users and those looking for specific integration tutorials,
        <a href="/shippoapi/public-api/overview">see our full API documentation and guides.</a><br>
        Download the <a href="/spec/shippoapi/public-api.yaml">API Specification yaml file</a>
      </p>

      <h3>API Resources</h3>
      All API URLs listed in this documentation are relative to <b>https://api.goshippo.com/</b>.

      For example, the `/addresses/` resource is reachable at `https://api.goshippo.com/addresses/`.


      <h3>Authentication</h3>
      The API requires Shippo's token HTTP Authentication with your Shippo token (live or test). 

      In order to authenticate properly, please put `Authorization: ShippoToken <token>` in your header. You can find your token on the 
      <a href="https://goshippo.com/user/apikeys/">Shippo API settings page</a>.



      For more information about authentication and test mode, 
      <a href="https://docs.goshippo.com/docs/guides_general/authentication/">please visit our Authentication guide</a>.

      The API is available via Secure Socket Layer (SSL) only. All requests to the Shippo API must use TLS version 1.2 or higher.

      <h3>Request & Response Data</h3>
      Request data is passed to the API by <b>POSTing JSON objects</b> with the appropriate key/value-pairs to the respective 
      resource. The documentation for each API resource contains more details on the values accepted by a given resource.

      Response data also formatted as JSON object. You can specify how many results per page are to be returned. For instance, 
      `/rates/?results=25` will return up to 25 results.

      <h3>REST & Disposable Objects</h3>
      The Shippo API is built around <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST principles</a>. 
      Use POST requests to create objects, GET requests to retrieve objects, and PUT requests to update objects.

      Only the Carrier Accounts object can be updated via PUT requests. All other objects such as Addresses, Parcels, 
      Shipments, Rates, Transactions, Refunds, Customs Items, and Customs Declarations are disposable. This means that 
      once you have created an object, you cannot change it. Instead, create a new one with the desired values.

      <h3>API Version</h3>

      This reference guide supports the Shippo API version: `2018-02-08` . 

      To see reference guides for older API versions, see our <a href="https://docs.goshippo.com/docs/guides_general/legacy_reference/">legacy reference guide</a>. 
      For more information about Shippo API versions, see our <a href="https://docs.goshippo.com/docs/api_concepts/apiversioning/">API versions guide</a>.


  - name: Addresses
    description: |-
      Addresses are the locations a parcel is being shipped **from** and **to**. They represent company and residential places. Among other things, you can use address objects to create shipments, calculate shipping rates, and purchase shipping labels.

  - name: Parcels
    description: |-
      A parcel is an item you are shipping. The parcel object includes details about its physical make-up of the parcel. It includes dimensions and weight that Shippo uses to calculate rates.

  - name: Shipments
    description: |-
      A shipment is the act of transporting goods. A shipment object contains **to** and **from** addresses, and the parcel details that you are shipping. You can use the shipment object to retrieve shipping rates and purchase a shipping label.

  - name: Rates
    description: |-
      A rate is the cost to ship a parcel from a carrier. The rate object details the service level including the cost and transit time. 

  - name: Transactions
    x-displayName: Transactions (shipping labels)
    description: |-
      A transaction is the purchase of a shipping label from a shipping provider for a specific service. You can print purchased labels and used them to ship a parcel with a carrier, such as USPS or FedEx.

  - name: Customs Items
    description: |-
      Customs declarations are relevant information, including one or multiple customs items, you need to provide for customs clearance for your international shipments.

  - name: Customs Declarations
    description: |-
      Customs declarations are relevant information, including one or multiple customs items, you need to provide for 
      customs clearance for your international shipments.

  - name: Refunds
    description: |-
      Refunds are reimbursements for successfully created but unused shipping labels or other charges.

  - name: Manifests
    description: |-
      A manifest is a single-page document with a barcode that carriers can scan to accept all packages into transit without the need to scan each item individually.
      They are close-outs of shipping labels of a certain day. Some carriers require manifests to  process the shipments.

  - name: Carrier Accounts
    description: |-
      Carriers are the companies who deliver your package. Shippo uses Carrier account objects as credentials to retrieve shipping rates and purchase labels from shipping Carriers.


  - name: Webhooks
    description: |-
      Webhooks are a way for Shippo to notify your application when a specific event occurs. For example, when a label is purchased or when a shipment tracking status has changed. You can use webhooks to trigger actions in your application, such as sending an email or updating a database.

  - name: Tracking Status
    description: |-
      <p style="text-align: center; background-color: #F2F3F4;"></br>
      If you purchased your shipping label through Shippo, you can also get all the tracking details of your Shipment 
      from the <a href="/shippoapi/public-api/transactions">Transaction</a> object.
      </br></br></p>
      A tracking status of a package is an indication of current location of a package in the supply chain. For example,  sorting, warehousing, or out for delivery. Use the tracking status object to track the location of your shipments.

      When using your <a href="https://docs.goshippo.com/docs/guides_general/authentication/">Test</a> token for tracking, you need to use Shippo's 
      predefined tokens for testing different tracking statuses. You can find more information in our 
      <a href="https://docs.goshippo.com/docs/tracking/tracking/">Tracking tutorial</a> on how to do this, and what the 
      payloads look like.      

  - name: Batches
    description: |-
      A batch is a technique for creating multiple labels at once. Use the  batch object to create and purchase many shipments in two API calls. After creating the batch, retrieve the batch to verify that all shipments are valid. You can add and remove shipments after you have created the batch. When all shipments are valid you can purchase the batch and retrieve all the shipping labels.

  - name: Orders
    x-displayName: Orders (beta)
    description: |-
      An order is a request from a customer to purchase goods from a merchant.
      Use the orders object to load orders from your system to the Shippo dashboard.
      You can use the orders object to create, retrieve, list, and manage orders programmatically.
      You can also retrieve shipping rates, purchase labels, and track shipments for each order.

  - name: Pickups
    description: |-
      A pickup is when you schedule a carrier to collect a package for delivery.
      Use Shippo’s pickups endpoint to schedule pickups with USPS and DHL Express for eligible shipments that you have already created.

  - name: Service Groups
    description: |-
      A service group is a set of service levels grouped together. 
      Rates at checkout uses services groups to present available shipping options to customers in their shopping basket.

  - name: Carrier Parcel Templates
    description: |-
      A carrier parcel template represents a package used for shipping that has preset dimensions defined by a carrier. Some examples of a carrier parcel template include USPS Flat Rate Box and Fedex Small Pak. When using a carrier parcel template, the rates returned may be limited to the carrier that provides the box. You can create user parcel templates using a carrier parcel template. Shippo takes the dimensions of the carrier parcel template but you must configure the weight.


  - name: User Parcel Templates
    description: |-
      A user parcel template represents a package used for shipping that has preset dimensions and attributes defined 
      by you. They are useful for capturing attributes of parcel-types you frequently use for shipping, allowing 
      them to be defined once and then used for many shipments. These parcel templates can also be used for live rates.

      User parcel templates can also be created using a carrier parcel template, where the dimensions will be copied from 
      the carrier presets, but the weight can be configured by you.

  - name: Rates at Checkout
    description: |-
      Rates at checkout is a tool for merchants to display up-to-date shipping estimates based on what's in their customers cart and where they’re shipping to.
      Merchants set up curated shipping options for customers in the checkout flow based on data in the shopping cart. The request must include the **to** address and item information. Optional fields are the **from** address and package information. If the optional fields are not included, the service will use the default address and/or package configured for rates at checkout. The response is a list of shipping options based on the Service Group configuration.
      (see <a href="/shippoapi/public-api/service-groups">Service Group configuration</a> for details).



      # Default Parcel Template
      Assign one of your user parcel templates to be the default used when generating Live Rates. This template will be used by default when generating Live Rates, unless you explicitly provide a parcel in the Live Rates request.


  - name: Carriers
    description: |
      |Token | Carrier name|
      |:---|:---|
      | airterra | Airterra |
      | apc_postal | APC Postal|
      | apg | APG|
      | aramex | Aramex|
      | asendia_us | Asendia US|
      | australia_post | Australia Post (also used for Startrack)|
      | axlehire | Jitsu|
      | better_trucks | BetterTrucks|
      | borderguru | BorderGuru|
      | boxberry | Boxberry|
      | bring | Bring (also used for Posten Norge)|
      | canada_post | Canada Post|
      | cdl | CDL|
      | chronopost | Chronopost|
      | collect_plus | CollectPlus|
      | correios_br | CorreiosBR|
      | correos_espana | Correos España |
      | colissimo | Colissimo|
      | deutsche_post | Deutsche Post|
      | dhl_benelux | DHL Benelux|
      | dhl_ecommerce | DHL eCommerce|
      | dhl_express | DHL Express|
      | dhl_germany_c2c | DHL Germany C2C|
      | dhl_germany | DHL Germany|
      | dpd_de | DPD GERMANY|
      | dpd_uk | DPD UK|
      | estafeta | Estafeta|
      | fastway_australia | Aramex|
      | fedex | FedEx|
      | globegistics | Globegistics (now Asendia)|
      | gls_us | GLS US|
      | gophr | Gophr|
      | gso | GSO|
      | hermes_germany_b2c | Hermes Germany B2C|
      | hermes_uk | Evri UK |
      | hongkong_post | Hongkong Post|
      | lasership | LaserShip|
      | lso | LSO|
      | mondial_relay | Mondial Relay|
      | new_zealand_post | New Zealand Post (also used for Pace and CourierPost)|
      | nippon_express | Nippon Express|
      | ontrac | OnTrac|
      | parcelforce | Parcelforce|
      | passport | Passport|
      | pcf | PCF|
      | poste_italiane | Poste Italiane |
      | posti | Posti|
      | purolator | Purolator|
      | royal_mail | Royal Mail|
      | royal_mail_sf | Royal Mail Storefeeder|
      | rr_donnelley | ePost Global|
      | russian_post | Russian Post|
      | skypostal | SkyPostal|
      | stuart | Stuart|
      | swyft | Swyft|
      | uds | UDS (United Delivery Service)|
      | ups | UPS|
      | usps | USPS|
      | veho | Veho |
  - name: Service Levels
    description: |
      Service levels represent the shipping service type for each carrier. Use the tokens below when creating shipments.

      ## USPS Service Levels
      |Token | Service name|
      |:---|:---|
      | usps_priority | Priority Mail|
      | usps_priority_express | Priority Mail Express|
      | usps_media_mail | Media Mail (grandfathered customers only)|
      | usps_priority_mail_international | Priority Mail International|
      | usps_priority_mail_express_international | Priority Mail Express International|
      | usps_first_class_package_international_service | First Class Package International|
      | usps_ground_advantage | Ground Advantage |

      ## FedEx Service Levels
      |Token | Service name|
      |:---|:---|
      | fedex_ground | FedEx Ground®|
      | fedex_home_delivery | FedEx Home Delivery®|
      | fedex_ground_economy | FedEx Ground® Economy|
      | fedex_2_day | FedEx 2Day®|
      | fedex_2_day_am | FedEx 2Day® A.M.|
      | fedex_express_saver | FedEx Express Saver®|
      | fedex_standard_overnight | FedEx Standard Overnight®|
      | fedex_priority_overnight | FedEx Priority Overnight®|
      | fedex_first_overnight | FedEx First Overnight®|
      | fedex_international_economy | FedEx International Economy®|
      | fedex_international_priority | FedEx International Priority®|
      | fedex_international_first | FedEx International First®|
      | fedex_international_connect_plus | FedEx International Connect Plus|

      ## UPS Service Levels
      |Token | Service name|
      |:---|:---|
      | ups_standard | UPS Standard|
      | ups_ground | UPS Ground|
      | ups_saver | UPS Saver|
      | ups_3_day_select | UPS 3 Day Select|
      | ups_second_day_air | UPS 2nd Day Air|
      | ups_second_day_air_am | UPS 2nd Day Air A.M.|
      | ups_next_day_air | UPS Next Day Air|
      | ups_next_day_air_saver | UPS Next Day Air Saver|
      | ups_next_day_air_early_am | UPS Next Day Air Early A.M.|
      | ups_express | UPS Express|
      | ups_express_plus | UPS Express Plus|
      | ups_expedited | UPS Expedited|

      ## Other Supported Carriers
      Additional service levels are available for: Airterra, APC Postal, APG, Asendia, Australia Post, 
      Better Trucks, Canada Post, CDL, Chronopost, Colissimo, Correos España, DHL Express, DHL eCommerce, 
      DHL Germany, DPD DE, DPD UK, Deutsche Post, Aramex Australia, Globegistics, GLS US, Jitsu, LaserShip, 
      LSO, Mondial Relay, OnTrac, Parcelforce, Poste Italiane, ePost Global, Purolator, Royal Mail, 
      Royal Mail Storefeeder, Swyft, UDS, Veho, and Evri UK.

      See the Schemas section for complete service level lists for each carrier.
  - name: Parcel Templates
    description: |
      A predefined package used by one or multiple carriers. When a template is given, the parcel dimensions 
      do not have to be sent - the dimensions below will instead be used. The parcel weight is not affected 
      by the use of a template.

      ## FedEx Parcel Templates
      |Token | Name | Dimensions|
      |:---|:---|:---|
      | FedEx_Box_10kg | FedEx® 10kg Box | 15.81 x 12.94 x 10.19 in|
      | FedEx_Box_25kg | FedEx® 25kg Box | 54.80 x 42.10 x 33.50 in|
      | FedEx_Box_Extra_Large_1 | FedEx® Extra Large Box (X1) | 11.88 x 11.00 x 10.75 in|
      | FedEx_Box_Extra_Large_2 | FedEx® Extra Large Box (X2) | 15.75 x 14.13 x 6.00 in|
      | FedEx_Box_Large_1 | FedEx® Large Box (L1) | 17.50 x 12.38 x 3.00 in|
      | FedEx_Box_Large_2 | FedEx® Large Box (L2) | 11.25 x 8.75 x 7.75 in|
      | FedEx_Box_Medium_1 | FedEx® Medium Box (M1) | 13.25 x 11.50 x 2.38 in|
      | FedEx_Box_Medium_2 | FedEx® Medium Box (M2) | 11.25 x 8.75 x 4.38 in|
      | FedEx_Box_Small_1 | FedEx® Small Box (S1) | 12.38 x 10.88 x 1.50 in|
      | FedEx_Box_Small_2 | FedEx® Small Box (S2) | 11.25 x 8.75 x 4.38 in|
      | FedEx_Envelope | FedEx® Envelope | 12.50 x 9.50 x 0.80 in|
      | FedEx_Padded_Pak | FedEx® Padded Pak | 11.75 x 14.75 x 2.00 in|
      | FedEx_Pak_1 | FedEx® Large Pak | 15.50 x 12.00 x 0.80 in|
      | FedEx_Pak_2 | FedEx® Small Pak | 12.75 x 10.25 x 0.80 in|
      | FedEx_Tube | FedEx® Tube | 38.00 x 6.00 x 6.00 in|
      | FedEx_XL_Pak | FedEx® Extra Large Pak | 17.50 x 20.75 x 2.00 in|

      ## UPS Parcel Templates
      |Token | Name | Dimensions|
      |:---|:---|:---|
      | UPS_Box_10kg | Box 10kg | 410.00 x 335.00 x 265.00 mm|
      | UPS_Box_25kg | Box 25kg | 484.00 x 433.00 x 350.00 mm|
      | UPS_Express_Box | Express Box | 460.00 x 315.00 x 95.00 mm|
      | UPS_Express_Box_Large | Express Box Large | 18.00 x 13.00 x 3.00 in|
      | UPS_Express_Box_Medium | Express Box Medium | 15.00 x 11.00 x 3.00 in|
      | UPS_Express_Box_Small | Express Box Small | 13.00 x 11.00 x 2.00 in|
      | UPS_Express_Envelope | Express Envelope | 12.50 x 9.50 x 2.00 in|
      | UPS_Express_Hard_Pak | Express Hard Pak | 14.75 x 11.50 x 2.00 in|
      | UPS_Express_Legal_Envelope | Express Legal Envelope | 15.00 x 9.50 x 2.00 in|
      | UPS_Express_Pak | Express Pak | 16.00 x 12.75 x 2.00 in|
      | UPS_Express_Tube | Express Tube | 970.00 x 190.00 x 165.00 mm|
      | UPS_Laboratory_Pak | Laboratory Pak | 17.25 x 12.75 x 2.00 in|
      | UPS_Pad_Pak | Pad Pak | 14.75 x 11.00 x 2.00 in|

      ## USPS Parcel Templates
      |Token | Name | Dimensions|
      |:---|:---|:---|
      | USPS_FlatRateCardboardEnvelope | Flat Rate Cardboard Envelope | 12.50 x 9.50 x 0.75 in|
      | USPS_FlatRateEnvelope | Flat Rate Envelope | 12.50 x 9.50 x 0.75 in|
      | USPS_FlatRateGiftCardEnvelope | Flat Rate Gift Card Envelope | 10.00 x 7.00 x 0.75 in|
      | USPS_FlatRateLegalEnvelope | Flat Rate Legal Envelope | 15.00 x 9.50 x 0.75 in|
      | USPS_FlatRatePaddedEnvelope | Flat Rate Padded Envelope | 12.50 x 9.50 x 1.00 in|
      | USPS_FlatRateWindowEnvelope | Flat Rate Window Envelope | 10.00 x 5.00 x 0.75 in|
      | USPS_LargeFlatRateBoardGameBox | Large Flat Rate Board Game Box | 24.06 x 11.88 x 3.13 in|
      | USPS_LargeFlatRateBox | Large Flat Rate Box | 12.25 x 12.25 x 6.00 in|
      | USPS_APOFlatRateBox | APO/FPO/DPO Large Flat Rate Box | 12.25 x 12.25 x 6.00 in|
      | USPS_MediumFlatRateBox1 | Medium Flat Rate Box 1 | 11.25 x 8.75 x 6.00 in|
      | USPS_MediumFlatRateBox2 | Medium Flat Rate Box 2 | 14.00 x 12.00 x 3.50 in|
      | USPS_RegionalRateBoxA1 | Regional Rate Box A1 | 10.13 x 7.13 x 5.00 in|
      | USPS_RegionalRateBoxA2 | Regional Rate Box A2 | 13.06 x 11.06 x 2.50 in|
      | USPS_RegionalRateBoxB1 | Regional Rate Box B1 | 12.25 x 10.50 x 5.50 in|
      | USPS_RegionalRateBoxB2 | Regional Rate Box B2 | 16.25 x 14.50 x 3.00 in|
      | USPS_SmallFlatRateBox | Small Flat Rate Box | 8.69 x 5.44 x 1.75 in|
      | USPS_SmallFlatRateEnvelope | Small Flat Rate Envelope | 10.00 x 6.00 x 4.00 in|

      ## Other Carriers
      Additional parcel templates are available for DHL eCommerce, DPD UK, and Aramex Australia.
      See the Schemas section for complete template lists.
  - name: Shippo Accounts
    description: |-
      Shippo Accounts are used by Shippo Platform Accounts to create and manage Managed Shippo Accounts. 
      Managed Shippo Accounts are headless accounts that represent your customers. They are opaque to your end customers, meaning customers do not need to create their own Shippo login or have a billing relationship with Shippo. 
      They can be used by marketplaces, e-commerce platforms, and third-party logistics providers who want to offer, seamless, built-in shipping functionality to their customers. See our <a href="https://docs.goshippo.com/docs/platformaccounts/platform_accounts/">guide</a> for more details.

  - name: Customs Declaration B13A Filing Option
    description: |
      B13A Option details are obtained by filing a B13A Canada Export Declaration via the Canadian Export Reporting System (CERS). 
      More information on <a href="https://www.cbsa-asfc.gc.ca/export/guide-eng.html">reporting commercial exports from Canada</a>.

      **Allowed values:**
      - `FILED_ELECTRONICALLY`
      - `SUMMARY_REPORTING`
      - `NOT_REQUIRED`
  - name: Customs Declaration Contents Type
    description: |
      Type of goods of the shipment.

      **Allowed values:**
      - `DOCUMENTS`
      - `GIFT`
      - `SAMPLE`
      - `MERCHANDISE`
      - `HUMANITARIAN_DONATION`
      - `RETURN_MERCHANDISE`
      - `OTHER`
  - name: Customs Declaration EEL/PFC
    description: |
      EEL / PFC type of the shipment. For most shipments from the US to CA, `NOEEI_30_36` is applicable; 
      for most other shipments from the US, `NOEEI_30_37_a` is applicable.

      **Allowed values:**
      - `NOEEI_30_37_a`
      - `NOEEI_30_37_h`
      - `NOEEI_30_37_f`
      - `NOEEI_30_36`
      - `AES_ITN`
  - name: Customs Declaration Incoterm
    description: |
      The incoterm reference of the shipment. FCA is available for DHL Express and FedEx only. 
      eDAP is available for DPD UK only. DAP is available for DHL Express and DPD UK.
      If expecting DAP for other carriers, please use DDU.

      **Allowed values:**
      - `DDP`
      - `DDU`
      - `FCA`
      - `DAP`
      - `eDAP`
  - name: Customs Declaration Non Delivery Option
    description: |
      Indicates how the carrier should proceed in case the shipment can't be delivered.

      **Allowed values:**
      - `ABANDON`
      - `RETURN`
  - name: Address Validation Source
    description: |
      Source of the address validation message.

      **Allowed values:**
      - `Shippo Address Validator`
      - `UPS`
  - name: Address Validation Codes
    description: |
      Validation result codes returned by the address validation service.

      **Allowed values:**
      - `verification_error`
      - `unknown_street`
      - `component_mismatch_error`
      - `multiple_match`
      - `sub_premise_number_invalid`
      - `sub_premise_number_missing`
      - `premise_number_invalid`
      - `premise_number_missing`
      - `box_number_invalid`
      - `box_number_missing`
      - `pmb_number_missing`
      - `postal_code_change`
      - `administrative_area_change`
      - `locality_change`
      - `dependent_locality_change`
      - `street_name_change`
      - `street_type_change`
      - `street_directional_change`
      - `sub_premise_type_change`
      - `sub_premise_number_change`
      - `double_dependent_locality_change`
      - `subadministrative_area_change`
      - `subnational_area_change`
      - `po_box_change`
      - `premise_type_change`
      - `house_number_change`
      - `organization_change`
      - `extraneous_information`
      - `usps_door_inaccessible`
      - `administrative_area_partial`
      - `city_partial`
      - `street_partial`
      - `building_partial`
      - `subpremise_partial`
      - `administrative_area_full`
      - `city_full`
      - `thoroughfare_full`
      - `premises_full`
      - `subpremise_full`
      - `geocoded_street`
      - `geocoded_neighborhood`
      - `geocoded_community`
      - `geocoded_state`
      - `geocoded_rooftop`
      - `geocoded_interpolated_rooftop`
      - `invalid_postal_code`
      - `postal_code_not_found`
      - `empty_request`
      - `service_error`
      - `street_detail_missing`
      - `Invalid City/State/Zip`
      - `Default Match`
      - `Unknown Street`
      - `Address Not Found`
      - `Non-Deliverable ZIP4`
      - `Multiple Responses`
      - `Invalid Dual Address`
      - `Invalid State`
      - `Invalid City`
      - `Ambiguous Address`

x-tagGroups:
  - name: API
    tags:
      - Overview
  - name: Addresses
    tags:
      - Addresses
  - name: Parcels
    tags:
      - Parcels
      - Carrier Parcel Templates
      - User Parcel Templates
  - name: Shipments
    tags:
      - Shipments
      - Rates
  - name: Purchase
    tags:
      - Transactions
      - Batches
  - name: Tracking
    tags:
      - Tracking Status
  - name: Webhooks
    tags:
      - Webhooks
  - name: International Shipping
    tags:
      - Customs Items
      - Customs Declarations
  - name: Carriers
    tags:
      - Carrier Accounts
  - name: Manifests and pickups
    tags:
      - Manifests
      - Pickups
  - name: Orders
    tags:
      - Orders
  - name: Billing
    tags:
      - Refunds
  - name: Rates at Checkout
    tags:
      - Service Groups
      - Rates at Checkout
  - name: Accounts
    tags:
      - Shippo Accounts
  - name: Enums
    tags:
      - Carriers
      - Service Levels
      - Parcel Templates
      - Address Validation Source
      - Address Validation Codes
      - Customs Declaration B13A Filing Option
      - Customs Declaration Contents Type
      - Customs Declaration EEL/PFC
      - Customs Declaration Incoterm
      - Customs Declaration Non Delivery Option
paths:
  /addresses:
    get:
      description: Returns a list of all address objects that have been created in this account.
      operationId: ListAddresses
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageDefault5QueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/addressPaginatedResponse'
        '400':
          $ref: '#/components/responses/badRequestResponse'
      summary: List all addresses
      tags:
        - Addresses
      x-codeSamples:
        - label: cURL
          lang: cURL
          source: |-
            curl https://api.goshippo.com/addresses/ \
             -H "Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396"
        - lang: python
          label: Python
          source: |-
            import shippo

            s = shippo.Shippo(
                api_key_header='ShippoToken <API_TOKEN>',
                shippo_api_version='2018-02-08',
            )


            res = s.addresses.list(page=1, results=5)

            if res is not None:
                # handle response
                pass
        - lang: typescript
          label: Typescript
          source: |-
            import { Shippo } from "shippo";

            const shippo = new Shippo({
              apiKeyHeader: "ShippoToken <API_TOKEN>",
              shippoApiVersion: "2018-02-08",
            });

            async function run() {
              const result = await shippo.addresses.list(1, 5);

              // Handle the result
              console.log(result);
            }

            run();
        - lang: php
          label: PHP
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Shippo\API;

            $sdk = API\Shippo::builder()
                ->setSecurity(
                    'ShippoToken <API_TOKEN>'
                )
                ->setShippoApiVersion('2018-02-08')
                ->build();



            $response = $sdk->addresses->list(
                page: 1,
                results: 5,
                shippoApiVersion: '2018-02-08'

            );

            if ($response->addressPaginatedList !== null) {
                // handle response
            }
        - lang: csharp
          label: C#
          source: |-
            using Shippo;
            using Shippo.Models.Components;

            var sdk = new ShippoSDK(
                apiKeyHeader: "ShippoToken <API_TOKEN>",
                shippoApiVersion: "2018-02-08"
            );

            var res = await sdk.Addresses.ListAsync(
                page: 1,
                results: 5,
                shippoApiVersion: "2018-02-08"
            );

            // handle response
        - lang: java
          label: Java
          source: |-
            package hello.world;

            import com.goshippo.shippo_sdk.Shippo;
            import com.goshippo.shippo_sdk.models.operations.ListAddressesResponse;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Exception {

                    Shippo sdk = Shippo.builder()
                            .apiKeyHeader("ShippoToken <API_TOKEN>")
                            .shippoApiVersion("2018-02-08")
                        .build();

                    ListAddressesResponse res = sdk.addresses().list()
                            .page(1L)
                            .results(5L)
                            .shippoApiVersion("2018-02-08")
                            .call();

                    if (res.addressPaginatedList().isPresent()) {
                        // handle response
                    }
                }
            }
    post:
      description: Creates a new address object. You can use address objects to create new shipments, calculate rates, and to create orders.
      operationId: CreateAddress
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreateRequest'
        description: Address details.
      responses:
        '201':
          $ref: '#/components/responses/addressResponse'
        '400':
          $ref: '#/components/responses/badRequestResponse'
      summary: Create a new address
      tags:
        - Addresses
      x-codeSamples:
        - label: cURL
          lang: cURL
          source: |-
            curl https://api.goshippo.com/addresses/ \
              -H "Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396" \
              -d name="Shawn Ippotle" \
              -d company="Shippo" \
              -d street1="215 Clayton St." \
              -d street2="" \
              -d city="San Francisco" \
              -d state="CA" \
              -d zip=94117 \
              -d country="US" \
              -d phone="+1 555 341 9393" \
              -d email="shippotle@shippo.com"\
              -d is_residential=True\
              -d metadata="Customer ID 123456"

        - lang: python
          label: Python
          source: |-
            import shippo
            from shippo.models import components

            s = shippo.Shippo(
                api_key_header='ShippoToken <API_TOKEN>',
                shippo_api_version='2018-02-08',
            )


            res = s.addresses.create(request=components.AddressCreateRequest(
                name='Shwan Ippotle',
                company='Shippo',
                street1='215 Clayton St.',
                street3='',
                street_no='',
                city='San Francisco',
                state='CA',
                zip='94117',
                country='US',
                phone='+1 555 341 9393',
                email='shippotle@shippo.com',
                is_residential=True,
                metadata='Customer ID 123456',
                validate=True,
            ))

            if res is not None:
                # handle response
                pass
        - lang: typescript
          label: Typescript
          source: |-
            import { Shippo } from "shippo";

            const shippo = new Shippo({
              apiKeyHeader: "ShippoToken <API_TOKEN>",
              shippoApiVersion: "2018-02-08",
            });

            async function run() {
              const result = await shippo.addresses.create({
                name: "Shwan Ippotle",
                company: "Shippo",
                street1: "215 Clayton St.",
                street3: "",
                streetNo: "",
                city: "San Francisco",
                state: "CA",
                zip: "94117",
                country: "US",
                phone: "+1 555 341 9393",
                email: "shippotle@shippo.com",
                isResidential: true,
                metadata: "Customer ID 123456",
                validate: true,
              });

              // Handle the result
              console.log(result);
            }

            run();
        - lang: php
          label: PHP
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Shippo\API;
            use Shippo\API\Models\Components;

            $sdk = API\Shippo::builder()
                ->setSecurity(
                    'ShippoToken <API_TOKEN>'
                )
                ->setShippoApiVersion('2018-02-08')
                ->build();

            $addressCreateRequest = new Components\AddressCreateRequest(
                name: 'Shwan Ippotle',
                company: 'Shippo',
                street1: '215 Clayton St.',
                street3: '',
                streetNo: '',
                city: 'San Francisco',
                state: 'CA',
                zip: '94117',
                country: 'US',
                phone: '+1 555 341 9393',
                email: 'shippotle@shippo.com',
                isResidential: true,
                metadata: 'Customer ID 123456',
                validate: true,
            );

            $response = $sdk->addresses->create(
                addressCreateRequest: $addressCreateRequest,
                shippoApiVersion: '2018-02-08'

            );

            if ($response->address !== null) {
                // handle response
            }
        - lang: csharp
          label: C#
          source: |-
            using Shippo;
            using Shippo.Models.Components;

            var sdk = new ShippoSDK(
                apiKeyHeader: "ShippoToken <API_TOKEN>",
                shippoApiVersion: "2018-02-08"
            );

            var res = await sdk.Addresses.CreateAsync(
                addressCreateRequest: new AddressCreateRequest() {
                    Name = "Shwan Ippotle",
                    Company = "Shippo",
                    Street1 = "215 Clayton St.",
                    Street3 = "",
                    StreetNo = "",
                    City = "San Francisco",
                    State = "CA",
                    Zip = "94117",
                    Country = "US",
                    Phone = "+1 555 341 9393",
                    Email = "shippotle@shippo.com",
                    IsResidential = true,
                    Metadata = "Customer ID 123456",
                    Validate = true,
                },
                shippoApiVersion: "2018-02-08"
            );

            // handle response
        - lang: java
          label: Java
          source: |-
            package hello.world;

            import com.goshippo.shippo_sdk.Shippo;
            import com.goshippo.shippo_sdk.models.components.AddressCreateRequest;
            import com.goshippo.shippo_sdk.models.operations.CreateAddressResponse;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Exception {

                    Shippo sdk = Shippo.builder()
                            .apiKeyHeader("ShippoToken <API_TOKEN>")
                            .shippoApiVersion("2018-02-08")
                        .build();

                    CreateAddressResponse res = sdk.addresses().create()
                            .shippoApiVersion("2018-02-08")
                            .addressCreateRequest(AddressCreateRequest.builder()
                                .country("US")
                                .name("Shwan Ippotle")
                                .company("Shippo")
                                .street1("215 Clayton St.")
                                .street3("")
                                .streetNo("")
                                .city("San Francisco")
                                .state("CA")
                                .zip("94117")
                                .phone("+1 555 341 9393")
                                .email("shippotle@shippo.com")
                                .isResidential(true)
                                .metadata("Customer ID 123456")
                                .validate(true)
                                .build())
                            .call();

                    if (res.address().isPresent()) {
                        // handle response
                    }
                }
            }
  '/addresses/{AddressId}':
    get:
      description: Returns an existing address using an object ID.
      operationId: GetAddress
      parameters:
        - description: Object ID of the address
          in: path
          name: AddressId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/addressResponse'
        '400':
          $ref: '#/components/responses/badRequestResponse'
      summary: Retrieve an address
      tags:
        - Addresses
      x-codeSamples:
        - label: cURL
          lang: cURL
          source: |-
            curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/ \
              -H "Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396"
        - lang: python
          label: Python
          source: |-
            import shippo

            s = shippo.Shippo(
                api_key_header='ShippoToken <API_TOKEN>',
                shippo_api_version='2018-02-08',
            )


            res = s.addresses.get(address_id='<id>')

            if res is not None:
                # handle response
                pass
        - lang: typescript
          label: Typescript
          source: |-
            import { Shippo } from "shippo";

            const shippo = new Shippo({
              apiKeyHeader: "ShippoToken <API_TOKEN>",
              shippoApiVersion: "2018-02-08",
            });

            async function run() {
              const result = await shippo.addresses.get("<id>");

              // Handle the result
              console.log(result);
            }

            run();
        - lang: php
          label: PHP
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Shippo\API;

            $sdk = API\Shippo::builder()
                ->setSecurity(
                    'ShippoToken <API_TOKEN>'
                )
                ->setShippoApiVersion('2018-02-08')
                ->build();



            $response = $sdk->addresses->get(
                addressId: '<id>',
                shippoApiVersion: '2018-02-08'

            );

            if ($response->address !== null) {
                // handle response
            }
        - lang: csharp
          label: C#
          source: |-
            using Shippo;
            using Shippo.Models.Components;

            var sdk = new ShippoSDK(
                apiKeyHeader: "ShippoToken <API_TOKEN>",
                shippoApiVersion: "2018-02-08"
            );

            var res = await sdk.Addresses.GetAsync(
                addressId: "<id>",
                shippoApiVersion: "2018-02-08"
            );

            // handle response
        - lang: java
          label: Java
          source: |-
            package hello.world;

            import com.goshippo.shippo_sdk.Shippo;
            import com.goshippo.shippo_sdk.models.operations.GetAddressResponse;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Exception {

                    Shippo sdk = Shippo.builder()
                            .apiKeyHeader("ShippoToken <API_TOKEN>")
                            .shippoApiVersion("2018-02-08")
                        .build();

                    GetAddressResponse res = sdk.addresses().get()
                            .addressId("<id>")
                            .shippoApiVersion("2018-02-08")
                            .call();

                    if (res.address().isPresent()) {
                        // handle response
                    }
                }
            }
  '/addresses/{AddressId}/validate':
    get:
      description: Validates an existing address using an object ID
      operationId: ValidateAddress
      parameters:
        - description: Object ID of the address
          in: path
          name: AddressId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/addressResponse'
        '400':
          $ref: '#/components/responses/badRequestResponse'
      summary: Validate an address
      tags:
        - Addresses
      x-codeSamples:
        - label: cURL
          lang: cURL
          source: |-
            curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/validate/ \
              -H "Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396"
        - lang: python
          label: Python
          source: |-
            import shippo

            s = shippo.Shippo(
                api_key_header='ShippoToken <API_TOKEN>',
                shippo_api_version='2018-02-08',
            )


            res = s.addresses.validate(address_id='<id>')

            if res is not None:
                # handle response
                pass
        - lang: typescript
          label: Typescript
          source: |-
            import { Shippo } from "shippo";

            const shippo = new Shippo({
              apiKeyHeader: "ShippoToken <API_TOKEN>",
              shippoApiVersion: "2018-02-08",
            });

            async function run() {
              const result = await shippo.addresses.validate("<id>");

              // Handle the result
              console.log(result);
            }

            run();
        - lang: php
          label: PHP
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Shippo\API;

            $sdk = API\Shippo::builder()
                ->setSecurity(
                    'ShippoToken <API_TOKEN>'
                )
                ->setShippoApiVersion('2018-02-08')
                ->build();



            $response = $sdk->addresses->validate(
                addressId: '<id>',
                shippoApiVersion: '2018-02-08'

            );

            if ($response->address !== null) {
                // handle response
            }
        - lang: csharp
          label: C#
          source: |-
            using Shippo;
            using Shippo.Models.Components;

            var sdk = new ShippoSDK(
                apiKeyHeader: "ShippoToken <API_TOKEN>",
                shippoApiVersion: "2018-02-08"
            );

            var res = await sdk.Addresses.ValidateAsync(
                addressId: "<id>",
                shippoApiVersion: "2018-02-08"
            );

            // handle response
        - lang: java
          label: Java
          source: |-
            package hello.world;

            import com.goshippo.shippo_sdk.Shippo;
            import com.goshippo.shippo_sdk.models.operations.ValidateAddressResponse;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Exception {

                    Shippo sdk = Shippo.builder()
                            .apiKeyHeader("ShippoToken <API_TOKEN>")
                            .shippoApiVersion("2018-02-08")
                        .build();

                    ValidateAddressResponse res = sdk.addresses().validate()
                            .addressId("<id>")
                            .shippoApiVersion("2018-02-08")
                            .call();

                    if (res.address().isPresent()) {
                        // handle response
                    }
                }
            }
      x-speakeasy-name-override: validate
  /batches:
    post:
      description: Creates a new batch object for purchasing shipping labels for many shipments at once. Batches are created asynchronously. This means that the API response won't include your batch shipments yet. You need to retrieve the batch later to verify that all batch shipments are valid.
      operationId: CreateBatch
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateRequest'
        description: Batch details.
      responses:
        '201':
          $ref: '#/components/responses/batchResponse'
        '400':
          $ref: '#/components/responses/badRequestResponse'
      summary: Create a batch
      tags:
        - Batches
      x-codeSamples:
        - label: cURL
          lang: cURL
          source: |-
            curl https://api.goshippo.com/batches/  \
            -H "Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396" \
            -H "Content-Type: application/json"  \
            -d '{
                  "default_carrier_account": "078870331023437cb917f5187429b093",
                  "default_servicelevel_token": "usps_priority",
                  "label_filetype": "PDF_4x6",
                  "metadata": "BATCH #170",
                  "batch_shipments": [
                    {
                      "shipment": {    
                        "address_from": {
                          "name": "Mr Hippo",
                          "street1": "965 Mission St",
                          "street2": "Ste 201",
                          "city": "San Francisco",
                          "state": "CA",
                          "zip": "94103",
                          "country": "US",
                          "phone": "4151234567",
                          "email": "mrhippo@shippo.com"
                        },
                        "address_to": {
                          "name": "Mrs Hippo",
                          "company": "",
                          "street1": "Broadway 1",
                          "street2": "",
                          "city": "New York",
                          "state": "NY",
                          "zip": "10007",
                          "country": "US",
                          "phone": "4151234567",
                          "email": "mrshippo@shippo.com"
                        },
                        "parcels": [{
                          "length": "5",
                          "width": "5",
                          "height": "5",
                          "distance_unit": "in",
                          "weight": "2",
                          "mass_unit": "oz"
                        }]
                      }
                    },
                    {
                      "shipment": {    
                        "address_from": {
                          "name": "Mr Hippo",
                          "street1": "1092 Indian Summer Ct",
                          "city": "San Jose",
                          "state": "CA",
                          "zip": "95122",
                          "country": "US",
                          "phone": "4151234567",
                          "email": "mrhippo@shippo.com"
                        },
                        "address_to": {
                          "name": "Mrs Hippo",
                          "company": "",
                          "street1": "Broadway 1",
                          "street2": "",
                          "city": "New York",
                          "state": "NY",
                          "zip": "10007",
                          "country": "US",
                          "phone": "4151234567",
                          "email": "mrshippo@shippo.com"
                        },
                        "parcels": [{
                          "length": "5",
                          "width": "5",
                          "height": "5",
                          "distance_unit": "in",
                          "weight": "20",
                          "mass_unit": "lb"
                        }]
                      },
                      "carrier_account": "a4391cd4ab974f478f55dc08b5c8e3b3",
                      "servicelevel_token": "fedex_2_day"
                    }
                  ]
                }' 
        - lang: python
          label: Python
          source: |-
            import shippo
            from shippo.models import components

            s = shippo.Shippo(
                api_key_header='ShippoToken <API_TOKEN>',
                shippo_api_version='2018-02-08',
            )


            res = s.batches.create(request=components.BatchCreateRequest(
                default_carrier_account='078870331023437cb917f5187429b093',
                default_servicelevel_token='usps_priority',
                label_filetype=components.LabelFileTypeEnum.PDF_4X6,
                metadata='BATCH #1',
                batch_shipments=[
                    components.BatchShipmentCreateRequest(
                        carrier_account='a4391cd4ab974f478f55dc08b5c8e3b3',
                        metadata='SHIPMENT #1',
                        servicelevel_token='fedex_ground',
                        shipment=components.ShipmentCreateRequest(
                            extra=components.ShipmentExtra(
                                accounts_receivable_customer_account=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                appropriation_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                bill_of_lading_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                cod=components.Cod(
                                    amount='5.5',
                                    currency='USD',
                                    payment_method=components.PaymentMethod.CASH,
                                ),
                                cod_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                customer_reference=components.CustomerReference(
                                    ref_sort=1,
                                ),
                                dealer_order_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                dept_number=components.DepartmentNumber(
                                    ref_sort=3,
                                ),
                                fda_product_code=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                insurance=components.Insurance(
                                    amount='5.5',
                                    currency='USD',
                                ),
                                invoice_number=components.InvoiceNumber(
                                    ref_sort=2,
                                ),
                                manifest_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                model_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                part_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                po_number=components.PoNumber(
                                    ref_sort=2,
                                ),
                                production_code=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                purchase_request_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                rma_number=components.RmaNumber(
                                    ref_sort=1,
                                ),
                                salesperson_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                serial_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                store_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                                transaction_reference_number=components.UPSReferenceFields(
                                    prefix='ABC',
                                    value='value',
                                    ref_sort=1,
                                ),
                            ),
                            metadata='Customer ID 123456',
                            shipment_date='2021-03-22T12:00:00Z',
                            address_from='d799c2679e644279b59fe661ac8fa488',
                            address_return=components.AddressCreateRequest(
                                name='Shwan Ippotle',
                                company='Shippo',
                                street1='215 Clayton St.',
                                street3='',
                                street_no='',
                                city='San Francisco',
                                state='CA',
                                zip='94117',
                                country='US',
                                phone='+1 555 341 9393',
                                email='shippotle@shippo.com',
                                is_residential=True,
                                metadata='Customer ID 123456',
                                validate=True,
                            ),
                            address_to=components.AddressCreateRequest(
                                name='Shwan Ippotle',
                                company='Shippo',
                                street1='215 Clayton St.',
                                street3='',
                                street_no='',
                                city='San Francisco',
                                state='CA',
                                zip='94117',
                                country='US',
                                phone='+1 555 341 9393',
                                email='shippotle@shippo.com',
                                is_residential=True,
                                metadata='Customer ID 123456',
                                validate=True,
                            ),
                            customs_declaration=components.CustomsDeclarationCreateRequest(
                                b13a_filing_option=components.CustomsDeclarationB13AFilingOptionEnum.FILED_ELECTRONICALLY,
                                certify=True,
                                certify_signer='Shawn Ippotle',
                                contents_explanation='T-Shirt purchase',
                                duties_payor=components.DutiesPayor(
                                    account='2323434543',
                                    type=components.CustomsDeclarationCreateRequestType.THIRD_PARTY,
                                    address=components.CustomsDeclarationCreateRequestAddress(
                                        name='Patrick Kavanagh',
                                        zip='80331',
                                        country='DE',
                                    ),
                                ),
                                exporter_identification=components.CustomsExporterIdentification(
                                    eori_number='PL123456790ABCDE',
                                    tax_id=components.CustomsTaxIdentification(
                                        number='123456789',
                                        type=components.CustomsTaxIdentificationType.EIN,
                                    ),
                                ),
                                invoice='#123123',
                                metadata='Order ID #123123',
                                address_importer=components.AddressImporter(
                                    name='Shwan Ippotle',
                                    company='Shippo',
                                    street1='Blumenstraße',
                                    street3='',
                                    street_no='22',
                                    city='München',
                                    state='CA',
                                    zip='80331',
                                    country='DE',
                                    phone='80331',
                                    email='shippotle@shippo.com',
                                    is_residential=True,
                                ),
                                contents_type=components.CustomsDeclarationContentsTypeEnum.MERCHANDISE,
                                eel_pfc=components.CustomsDeclarationEelPfcEnum.NOEEI_30_37_A,
                                incoterm=components.CustomsDeclarationIncotermEnum.DDP,
                                items=[
                                    components.CustomsItemCreateRequest(
                                        description='T-Shirt',
                                        mass_unit=components.WeightUnitEnum.LB,
                                        metadata='Order ID "123454"',
                                        net_weight='5',
                                        origin_country='<value>',
                                        quantity=20,
                                        sku_code='HM-123',
                                        hs_code='0901.21',
                                        value_amount='200',
                                        value_currency='USD',
                                    ),
                                    components.CustomsItemCreateRequest(
                                        description='T-Shirt',
                                        mass_unit=components.WeightUnitEnum.LB,
                                        metadata='Order ID "123454"',
                                        net_weight='5',
                                        origin_country='<value>',
                                        quantity=20,
                                        sku_code='HM-123',
                                        hs_code='0901.21',
                                        value_amount='200',
                                        value_currency='USD',
                                    ),
                                    components.CustomsItemCreateRequest(
                                        description='T-Shirt',
                                        mass_unit=components.WeightUnitEnum.LB,
                                        metadata='Order ID "123454"',
                                        net_weight='5',
                                        origin_country='<value>',
                                        quantity=20,
                                        sku_code='HM-123',
                                        hs_code='0901.21',
                                        value_amount='200',
                                        value_currency='USD',
                                    ),
                                ],
                                non_delivery_option=components.CustomsDeclarationNonDeliveryOptionEnum.RETURN,
                                test=True,
                            ),
                            carrier_accounts=[
                                '065a4a8c10d24a34ab932163a1b87f52',
                                '73f706f4bdb94b54a337563840ce52b0',
                            ],
                            parcels=[
                                components.ParcelCreateRequest(
                                    extra=components.ParcelExtra(
                                        cod=components.Cod(
                                            amount='5.5',
                                            currency='USD',
                                            payment_method=components.PaymentMethod.CASH,
                                        ),
                                        insurance=components.ParcelInsurance(
                                            amount='5.5',
                                            content='Laptop',
                                            currency='USD',
                                            provider=components.ParcelInsuranceProvider.UPS,
                                        ),
                                    ),
                                    metadata='Customer ID 123456',
                                    mass_unit=components.WeightUnitEnum.LB,
                                    weight='1',
                                    distance_unit=components.DistanceUnitEnum.IN,
                                    height='1',
                                    length='1',
                                    width='1',
                                ),
                                components.ParcelCreateRequest(
                                    extra=components.ParcelExtra(
                                        cod=components.Cod(
                                            amount='5.5',
                                            currency='USD',
                                            payment_method=components.PaymentMethod.CASH,
                                        ),
                                        insurance=components.ParcelInsurance(
                                            amount='5.5',
                                            content='Laptop',
                                            currency='USD',
                                            provider=components.ParcelInsuranceProvider.UPS,
                                        ),
                                    ),
                                    metadata='Customer ID 123456',
                                    mass_unit=components.WeightUnitEnum.LB,
                                    weight='1',
                                    distance_unit=components.DistanceUnitEnum.IN,
                                    height='1',
                                    length='1',
                                    width='1',
                                ),
                                components.ParcelCreateRequest(
                                    extra=components.ParcelExtra(
                                        cod=components.Cod(
                                            amount='5.5',
                                            currency='USD',
                                            payment_method=components.PaymentMethod.CASH,
                                        ),
                                        insurance=components.ParcelInsurance(
                                            amount='5.5',
                                            content='Laptop',
                                            currency='USD',
                                            provider=components.ParcelInsuranceProvider.UPS,
                                        ),
                                    ),
                                    metadata='Customer ID 123456',
                                    mass_unit=components.WeightUnitEnum.LB,
                                    weight='1',
                                    distance_unit=components.DistanceUnitEnum.IN,
                                    height='1',
                                    length='1',
                                    width='1',
                                ),
                            ],
                        ),
                    ),
                ],
            ))

            if res is not None:
                # handle response
                pass
        - lang: typescript
          label: Typescript
          source: |-
            import { Shippo } from "shippo";

            const shippo = new Shippo({
              apiKeyHeader: "ShippoToken <API_TOKEN>",
              shippoApiVersion: "2018-02-08",
            });

            async function run() {
              const result = await shippo.batches.create({
                defaultCarrierAccount: "078870331023437cb917f5187429b093",
                defaultServicelevelToken: "usps_priority",
                labelFiletype: "PDF_4x6",
                metadata: "BATCH #1",
                batchShipments: [
                  {
                    carrierAccount: "a4391cd4ab974f478f55dc08b5c8e3b3",
                    metadata: "SHIPMENT #1",
                    servicelevelToken: "fedex_ground",
                    shipment: {
                      extra: {
                        accountsReceivableCustomerAccount: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        appropriationNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        billOfLadingNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        cod: {
                          amount: "5.5",
                          currency: "USD",
                          paymentMethod: "CASH",
                        },
                        codNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        customerReference: {
                          refSort: 1,
                        },
                        dealerOrderNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        deptNumber: {
                          refSort: 3,
                        },
                        fdaProductCode: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        insurance: {
                          amount: "5.5",
                          currency: "USD",
                        },
                        invoiceNumber: {
                          refSort: 2,
                        },
                        manifestNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        modelNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        partNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        poNumber: {
                          refSort: 2,
                        },
                        productionCode: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        purchaseRequestNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        rmaNumber: {
                          refSort: 1,
                        },
                        salespersonNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        serialNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        storeNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                        transactionReferenceNumber: {
                          prefix: "ABC",
                          value: "value",
                          refSort: 1,
                        },
                      },
                      metadata: "Customer ID 123456",
                      shipmentDate: "2021-03-22T12:00:00Z",
                      addressFrom: "d799c2679e644279b59fe661ac8fa488",
                      addressReturn: {
                        name: "Shwan Ippotle",
                        company: "Shippo",
                        street1: "215 Clayton St.",
                        street3: "",
                        streetNo: "",
                        city: "San Francisco",
                        state: "CA",
                        zip: "94117",
                        country: "US",
                        phone: "+1 555 341 9393",
                        email: "shippotle@shippo.com",
                        isResidential: true,
                        metadata: "Customer ID 123456",
                        validate: true,
                      },
                      addressTo: {
                        name: "Shwan Ippotle",
                        company: "Shippo",
                        street1: "215 Clayton St.",
                        street3: "",
                        streetNo: "",
                        city: "San Francisco",
                        state: "CA",
                        zip: "94117",
                        country: "US",
                        phone: "+1 555 341 9393",
                        email: "shippotle@shippo.com",
                        isResidential: true,
                        metadata: "Customer ID 123456",
                        validate: true,
                      },
                      customsDeclaration: {
                        b13aFilingOption: "FILED_ELECTRONICALLY",
                        certify: true,
                        certifySigner: "Shawn Ippotle",
                        contentsExplanation: "T-Shirt purchase",
                        dutiesPayor: {
                          account: "2323434543",
                          type: "THIRD_PARTY",
                          address: {
                            name: "Patrick Kavanagh",
                            zip: "80331",
                            country: "DE",
                          },
                        },
                        exporterIdentification: {
                          eoriNumber: "PL123456790ABCDE",
                          taxId: {
                            number: "123456789",
                            type: "EIN",
                          },
                        },
                        invoice: "#123123",
                        metadata: "Order ID #123123",
                        addressImporter: {
                          name: "Shwan Ippotle",
                          company: "Shippo",
                          street1: "Blumenstraße",
                          street3: "",
                          streetNo: "22",
                          city: "München",
                          state: "CA",
                          zip: "80331",
                          country: "DE",
                          phone: "80331",
                          email: "shippotle@shippo.com",
                          isResidential: true,
                        },
                        contentsType: "MERCHANDISE",
                        eelPfc: "NOEEI_30_37_a",
                        incoterm: "DDP",
                        items: [
                          {
                            description: "T-Shirt",
                            massUnit: "lb",
                            metadata: "Order ID \"123454\"",
                            netWeight: "5",
                            originCountry: "<value>",
                            quantity: 20,
                            skuCode: "HM-123",
                            hsCode: "0901.21",
                            valueAmount: "200",
                            valueCurrency: "USD",
                          },
                          {
                            description: "T-Shirt",
                            massUnit: "lb",
                            metadata: "Order ID \"123454\"",
                            netWeight: "5",
                            originCountry: "<value>",
                            quantity: 20,
                            skuCode: "HM-123",
                            hsCode: "0901.21",
                            valueAmount: "200",
                            valueCurrency: "USD",
                          },
                          {
                            description: "T-Shirt",
                            massUnit: "lb",
                            metadata: "Order ID \"123454\"",
                            netWeight: "5",
                            originCountry: "<value>",
                            quantity: 20,
                            skuCode: "HM-123",
                            hsCode: "0901.21",
                            valueAmount: "200",
                            valueCurrency: "USD",
                          },
                        ],
                        nonDeliveryOption: "RETURN",
                        test: true,
                      },
                      carrierAccounts: [
                        "065a4a8c10d24a34ab932163a1b87f52",
                        "73f706f4bdb94b54a337563840ce52b0",
                      ],
                      parcels: [
                        {
                          extra: {
                            cod: {
                              amount: "5.5",
                              currency: "USD",
                              paymentMethod: "CASH",
                            },
                            insurance: {
                              amount: "5.5",
                              content: "Laptop",
                              currency: "USD",
                              provider: "UPS",
                            },
                          },
                          metadata: "Customer ID 123456",
                          massUnit: "lb",
                          weight: "1",
                          distanceUnit: "in",
                          height: "1",
                          length: "1",
                          width: "1",
                        },
                        {
                          extra: {
                            cod: {
                              amount: "5.5",
                              currency: "USD",
                              paymentMethod: "CASH",
                            },
                            insurance: {
                              amount: "5.5",
                              content: "Laptop",
                              currency: "USD",
                              provider: "UPS",
                            },
                          },
                          metadata: "Customer ID 123456",
                          massUnit: "lb",
                          weight: "1",
                          distanceUnit: "in",
                          height: "1",
                          length: "1",
                          width: "1",
                        },
                        {
                          extra: {
                            cod: {
                              amount: "5.5",
                              currency: "USD",
                              paymentMethod: "CASH",
                            },
                            insurance: {
                              amount: "5.5",
                              content: "Laptop",
                              currency: "USD",
                              provider: "UPS",
                            },
                          },
                          metadata: "Customer ID 123456",
                          massUnit: "lb",
                          weight: "1",
                          distanceUnit: "in",
                          height: "1",
                          length: "1",
                          width: "1",
                        },
                      ],
                    },
                  },
                ],
              });

              // Handle the result
              console.log(result);
            }

            run();
        - lang: php
          label: PHP
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Shippo\API;
            use Shippo\API\Models\Components;

            $sdk = API\Shippo::builder()
                ->setSecurity(
                    'ShippoToken <API_TOKEN>'
                )
                ->setShippoApiVersion('2018-02-08')
                ->build();

            $batchCreateRequest = new Components\BatchCreateRequest(
                defaultCarrierAccount: '078870331023437cb917f5187429b093',
                defaultServicelevelToken: 'usps_priority',
                labelFiletype: Components\LabelFileTypeEnum::PDF4x6,
                metadata: 'BATCH #1',
                batchShipments: [
                    new Components\BatchShipmentCreateRequest(
                        carrierAccount: 'a4391cd4ab974f478f55dc08b5c8e3b3',
                        metadata: 'SHIPMENT #1',
                        servicelevelToken: 'fedex_ground',
                        shipment: new Components\ShipmentCreateRequest(
                            extra: new Components\ShipmentExtra(
                                accountsReceivableCustomerAccount: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                appropriationNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                billOfLadingNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                cod: new Components\Cod(
                                    amount: '5.5',
                                    currency: 'USD',
                                    paymentMethod: Components\PaymentMethod::Cash,
                                ),
                                codNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                customerReference: new Components\CustomerReference(
                                    refSort: 1,
                                ),
                                dealerOrderNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                deptNumber: new Components\DepartmentNumber(
                                    refSort: 3,
                                ),
                                fdaProductCode: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                insurance: new Components\Insurance(
                                    amount: '5.5',
                                    currency: 'USD',
                                ),
                                invoiceNumber: new Components\InvoiceNumber(
                                    refSort: 2,
                                ),
                                manifestNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                modelNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                partNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                poNumber: new Components\PoNumber(
                                    refSort: 2,
                                ),
                                productionCode: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                purchaseRequestNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                rmaNumber: new Components\RmaNumber(
                                    refSort: 1,
                                ),
                                salespersonNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                serialNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                storeNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                                transactionReferenceNumber: new Components\UPSReferenceFields(
                                    prefix: 'ABC',
                                    value: 'value',
                                    refSort: 1,
                                ),
                            ),
                            metadata: 'Customer ID 123456',
                            shipmentDate: '2021-03-22T12:00:00Z',
                            addressFrom: new Components\AddressCreateRequest(
                                name: 'Shwan Ippotle',
                                company: 'Shippo',
                                street1: '215 Clayton St.',
                                street3: '',
                                streetNo: '',
                                city: 'San Francisco',
                                state: 'CA',
                                zip: '94117',
                                country: 'US',
                                phone: '+1 555 341 9393',
                                email: 'shippotle@shippo.com',
                                isResidential: true,
                                metadata: 'Customer ID 123456',
                                validate: true,
                            ),
                            addressReturn: 'd799c2679e644279b59fe661ac8fa488',
                            addressTo: new Components\AddressCreateRequest(
                                name: 'Shwan Ippotle',
                                company: 'Shippo',
                                street1: '215 Clayton St.',
                                street3: '',
                                streetNo: '',
                                city: 'San Francisco',
                                state: 'CA',
                                zip: '94117',
                                country: 'US',
                                phone: '+1 555 341 9393',
                                email: 'shippotle@shippo.com',
                                isResidential: true,
                                metadata: 'Customer ID 123456',
                                validate: true,
                            ),
                            customsDeclaration: new Components\CustomsDeclarationCreateRequest(
                                b13aFilingOption: Components\CustomsDeclarationB13AFilingOptionEnum::FiledElectronically,
                                certify: true,
                                certifySigner: 'Shawn Ippotle',
                                contentsExplanation: 'T-Shirt purchase',
                                dutiesPayor: new Components\DutiesPayor(
                                    account: '2323434543',
                                    type: Components\CustomsDeclarationCreateRequestType::ThirdParty,
                                    address: new Components\CustomsDeclarationCreateRequestAddress(
                                        name: 'Patrick Kavanagh',
                                        zip: '80331',
                                        country: 'DE',
                                    ),
                                ),
                                exporterIdentification: new Components\CustomsExporterIdentification(
                                    eoriNumber: 'PL123456790ABCDE',
                                    taxId: new Components\CustomsTaxIdentification(
                                        number: '123456789',
                                        type: Components\CustomsTaxIdentificationType::Ein,
                                    ),
                                ),
                                invoice: '#123123',
                                metadata: 'Order ID #123123',
                                addressImporter: new Components\AddressImporter(
                                    name: 'Shwan Ippotle',
                                    company: 'Shippo',
                                    street1: 'Blumenstraße',
                                    street3: '',
                                    streetNo: '22',
                                    city: 'München',
                                    state: 'CA',
                                    zip: '80331',
                                    country: 'DE',
                                    phone: '80331',
                                    email: 'shippotle@shippo.com',
                                    isResidential: true,
                                ),
                                contentsType: Components\CustomsDeclarationContentsTypeEnum::Merchandise,
                                eelPfc: Components\CustomsDeclarationEelPfcEnum::NOEEI3037A,
                                incoterm: Components\CustomsDeclarationIncotermEnum::Ddp,
                                items: [
                                    new Components\CustomsItemCreateRequest(
                                        description: 'T-Shirt',
                                        massUnit: Components\WeightUnitEnum::Lb,
                                        metadata: 'Order ID "123454"',
                                        netWeight: '5',
                                        originCountry: '<value>',
                                        quantity: 20,
                                        skuCode: 'HM-123',
                                        hsCode: '0901.21',
                                        valueAmount: '200',
                                        valueCurrency: 'USD',
                                    ),
                                ],
                                nonDeliveryOption: Components\CustomsDeclarationNonDeliveryOptionEnum::Return,
                                test: true,
                            ),
                            carrierAccounts: [
                                '065a4a8c10d24a34ab932163a1b87f52',
                                '73f706f4bdb94b54a337563840ce52b0',
                            ],
                            parcels: [
                                new Components\ParcelCreateRequest(
                                    extra: new Components\ParcelExtra(
                                        cod: new Components\Cod(
                                            amount: '5.5',
                                            currency: 'USD',
                                            paymentMethod: Components\PaymentMethod::Cash,
                                        ),
                                        insurance: new Components\ParcelInsurance(
                                            amount: '5.5',
                                            content: 'Laptop',
                                            currency: 'USD',
                                            provider: Components\ParcelInsuranceProvider::Ups,
                                        ),
                                    ),
                                    metadata: 'Customer ID 123456',
                                    massUnit: Components\WeightUnitEnum::Lb,
                                    weight: '1',
                                    distanceUnit: Components\DistanceUnitEnum::In,
                                    height: '1',
                                    length: '1',
                                    width: '1',
                                ),
                            ],
                        ),
                    ),
                ],
            );

            $response = $sdk->batches->create(
                batchCreateRequest: $batchCreateRequest,
                shippoApiVersion: '2018-02-08'

            );

            if ($response->batch !== null) {
                // handle response
            }
        - lang: csharp
          label: C#
          source: |-
            using Shippo;
            using Shippo.Models.Components;
            using System.Collections.Generic;

            var sdk = new ShippoSDK(
                apiKeyHeader: "ShippoToken <API_TOKEN>",
                shippoApiVersion: "2018-02-08"
            );

            var res = await sdk.Batches.CreateAsync(
                batchCreateRequest: new BatchCreateRequest() {
                    DefaultCarrierAccount = "078870331023437cb917f5187429b093",
                    DefaultServicelevelToken = "usps_priority",
                    LabelFiletype = LabelFileTypeEnum.Pdf4x6,
                    Metadata = "BATCH #1",
                    BatchShipments = new List<BatchShipmentCreateRequest>() {
                        new BatchShipmentCreateRequest() {
                            CarrierAccount = "a4391cd4ab974f478f55dc08b5c8e3b3",
                            Metadata = "SHIPMENT #1",
                            ServicelevelToken = "fedex_ground",
                            Shipment = new ShipmentCreateRequest() {
                                Extra = new ShipmentExtra() {
                                    AccountsReceivableCustomerAccount = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    AppropriationNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    BillOfLadingNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    Cod = new Cod() {
                                        Amount = "5.5",
                                        Currency = "USD",
                                        PaymentMethod = PaymentMethod.Cash,
                                    },
                                    CodNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    CustomerReference = new CustomerReference() {
                                        RefSort = 1,
                                    },
                                    DealerOrderNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    DeptNumber = new DepartmentNumber() {
                                        RefSort = 3,
                                    },
                                    FdaProductCode = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    Insurance = new Insurance() {
                                        Amount = "5.5",
                                        Currency = "USD",
                                    },
                                    InvoiceNumber = new InvoiceNumber() {
                                        RefSort = 2,
                                    },
                                    ManifestNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    ModelNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    PartNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    PoNumber = new PoNumber() {
                                        RefSort = 2,
                                    },
                                    ProductionCode = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    PurchaseRequestNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    RmaNumber = new RmaNumber() {
                                        RefSort = 1,
                                    },
                                    SalespersonNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
                                        RefSort = 1,
                                    },
                                    SerialNumber = new UPSReferenceFields() {
                                        Prefix = "ABC",
                                        Value = "value",
[...]
